NEXT_PUBLIC_API_URL=http://aetheris-api-prod.eba-3ijumbws.ap-south-1.elasticbeanstalk.com
NEXT_PUBLIC_URL=https://ic1101.vercel.app

AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=ap-south-1
S3_BUCKET_NAME=aetheris-production-bucket