NEXT_PUBLIC_API_URL=http://aetheris-api-prod.eba-3ijumbws.ap-south-1.elasticbeanstalk.com
NEXT_PUBLIC_URL=https://ic1101.vercel.app

AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=ap-south-1
S3_BUCKET_NAME=aetheris-ai-models-013943758705
NEXTAUTH_SECRET=992ad0ffe6bcbd703875101e378648b837b7c5de46c59c72bce911b412bb8904
NEXT_PUBLIC_SENTRY_DSN=your-sentry-dsn-here


GITHUB_CLIENT_ID=Ov23linwYybhhVWAfZqo
GITHUB_CLIENT_SECRET=4aa0bba558c45668bcb8ee2f0254241171c932d0